{% load fpga_tags %}
{% load staticfiles %}

<head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.red-deep_purple.min.css" />
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div>
	<header class="mdl-layout__header">
		<h1 style="text-align:center">Reservation Panel</h1>
	</header>
	<div style="width:80%;margin:80px auto;display:flex;flex-wrap:wrap;justify-content:center;">
{% if backends %}
	{% for be in backends|dictsort:"id" %}
		<div class="mdl-card mdl-shadow--4dp" style="margin:10px;width:350px">
			<div class="mdl-card__title" style="height:150px;background: transparent url({% static 'reserve/de2-small-c.jpg' %}) no-repeat right / contain">
				<h2 class="mdl-card__title-text">{{ be.board_type }}/{{ be.id }}</h2>
			</div>
				{% if be in callocs and callocs|get_item:be|alloc_user == user %}
				<div class="mdl-card__supporting-text">
					You have it until {{ callocs|get_item:be|alloc_endtime }}
				</div>
				{% elif uallocs.0.backend == be %}
				<div class="mdl-card__supporting-text">
					You have it reserved at {{ uallocs.0.start }}
				</div>
				{% elif be in lallocs %}
				<div class="mdl-card__supporting-text">
					Reserved until {{ lallocs|get_item:be|alloc_endtime }}
				</div>
				{% elif can_reserve %}
				<div class="mdl-card__supporting-text">
					Available.
				</div>
				{% else%}
				<div class="mdl-card__supporting-text">
					Can only reserve one board at a time.
				</div>
				{% endif %}

			<div class="mdl-card__actions mdl-card--border">
				{% if be in callocs and callocs|get_item:be|alloc_user == user %}
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ be.name }}">Claim Reservation</a>
				{% elif uallocs.0.backend == be %}
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="remove/{{ uallocs.0.id }}">Remove Reservation</a>
				{% elif be in lallocs and can_reserve %}
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="reserve/{{ be.name }}">Reserve</a>
				{% elif can_reserve %}
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="reserve/{{ be.name }}">Claim Now</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% else %}
	<h1>No backends configured</h1>
{% endif %}
	</div>

	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer--left-section">
			<div class="mdl-logo">Logged in as {{ user }}.</div>
			<ul class="mdl-mini-footer--link-list">
			<li><a href="/logout">Log Out</a></li>
			</ul>
		</div>
	</footer>
</div>
</body>
